.wpnStatDiv{
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 30% 10%;

    background-size: 40px 40px;
    background-image:
    linear-gradient(to right, darkGreen 1px, transparent 1px),
    linear-gradient(to bottom,darkGreen 1px, transparent 1px);
    border-radius: 20px;
    border: 1px solid olivedrab;
    background-color: olivedrab;

    text-align: center;
}