.mainDiv{
    height: 1000px;
    background-image: url('./MainBackgroundImage.jpeg');
    background-color: grey;
    align-content: center;
    position: fixed;
    text-align: center;
  background-repeat: no-repeat;
  background-size: 1200px 1200px
}

.secDiv{
    text-align: center;
    background-color: grey;
    opacity: .5
}

.secDiv:Hover{
    opacity: 1;
}