.title{
    text-align: center;
}

.statHeader {
    display: grid;
    grid-template-columns: 15% 15% 7% 7% 7% 7% 42%;
    /* text-align: start; */
    /* border: 1px solid black; */
}

.stats{
    border: 1px solid black;
    padding-top: 20px;
    padding-bottom: 20px;
}

