.title{
    text-align: center;
}

.statHeader {
    display: grid;
    grid-template-columns: 15% 15% 7% 7% 7% 7% 42%;
    /* text-align: start; */
    /* border: 1px solid black; */
}

.stats{
    border: 1px solid black;
    padding-top: 20px;
    padding-bottom: 20px;
}

.spcRuleDiv{
    display: grid;
    /* grid-template-columns: 25% 75%; */
    grid-template-rows: auto;
    border: 1px solid black;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}

